<% layout('layouts/boilerplate') -%>

<div class="col-8 offset-2 mt-5">
    <form action="" method="post" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="email" class="form-control" id="username" name="username" placeholder="username" required>
            <div class="invalid-feedback">
              Uh oh! Seems like you forgot something....
            </div>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="password" required> 
            <div class="invalid-feedback">
              Uh oh! Seems like you forgot something....
            </div>
          </div>
          <button class="btn btn-lg btn-outline-success">Sign In</button>
          <a class="btn btn-lg btn-outline-danger" href="/journals">Register</a>
    </form>
    </div>