<nav>
    <div class="logo-container">
        <h1 class="logo"> <a href="/journals">WritersBlock</a></h1>
    </div>
    <ul class="nav-links">
        <li class="nav-link-item"><a href="">My Journal</a></li>
        <li class="nav-link-item"><a href="">Explore</a></li>
        <li class="nav-link-item"><a href="">Settings</a></li>
    </ul>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
</nav>