<% layout('layouts/boilerplate') -%>
    <h1>Welcome to the home page</h1>
    <a class="btn btn-outline-info btn-lg" href="/journals/new">Start</a>
    <a class="btn btn-outline-success btn-lg" href="/journals/journal">View Journal</a>